{% load flex %}
{% load i18n %}

<table id="attachments_table" class="frame" cellpadding="0" cellspacing="0">
<!-- table width="100%" border="0" cellpadding="0" cellspacing="0" -->
    {% for attachment in attachments %}
    <tr><td>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
            <td nowrap width="10%" class="attribname">{% translate "Attachment" %} {{ forloop.counter }}:</td>
            <td class="attribvalue"><a href="{{ attachment.attachment_file.url }}">{{ attachment.display_filename }}</a>
                &nbsp;<span class="bytes">{{ attachment.attachment_file.size|filesizeformat }}</span></td>
            </tr>   
        </table>
    </td></tr>
    <tr><td>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
            {% if attachment.is_image %}
                <td class="attachmentframe"><img src="{{ attachment.attachment_file.url }}" height="200px" /></td>
            {% else %}
                <td class="messageframe"><object id="frame" data="{{ attachment.attachment_file.url }}"></object></td>
            {% endif %}
            </tr>
        </table>
    </td></tr>

    {% endfor %}


   {% if editing %}
    <tr><td>
        <table width="100%" cellpadding="0" cellspacing="0">
        {% for i in attachment_slots %}
        <tr>
        <td nowrap class="attribname">{% translate "Attachment" %} {{ i }}:</td>
        <td class="attribvalue"><input type="file" size="60" maxlength="200" name="attfile{{i}}"></td>
        </tr>
        {% endfor %}
        </table>
    </td></tr>
   {% endif %}
    
  </table>
