{% load flex %}
{% load i18n %}

{% include "flexelog/include/pagination.html" %}

<tr><td>
<table class="listframe" width="100%" cellspacing=0>
{% include "flexelog/include/list_display_header.html"%}
{% for entry in page_obj %}
    {% cycle '2' '1' as listX silent %}
    {% entry_listing entry columns selected_id filter_attrs casesensitive mode listX forloop.counter %}
{% endfor %}
</table>
{% include "flexelog/include/pagination.html" %}
{% if not page_obj %}
<tr><td class="errormsg">{% translate 'No entries found' %}</td></tr>
{% endif %}
</td></tr>
