{% load i18n %}
{% load static %}

{% block more_head_links %}
  {% if cfg_css %}
    {% with 'flexelog/'|add:cfg_css as static_link %}
      <link rel="stylesheet" type="text/css" href="{% static static_link %}">
    {% endwith %}
  {% endif %}
{% endblock %}
{# Table containing tabs and comment bar #}
{# Logbook tabs across the top #}
<tr>
    <td class="tabs">
    {% if main_tab %}
      <span class="ltab">
        <a href="{% url 'flexelog:index' %}">{{ main_tab }}</a>
      </span>
    {% endif %}
    {% for lb in logbooks %}
      <span class="{% if lb.name == logbook.name %}s{% endif %}ltab">
        <a href="{% url 'flexelog:logbook' lb.name %}" title="{{ lb.comment }}">{{ lb.name }}</a>
      </span>
    {% endfor %}
    </td>
</tr>

{# Bar for this logbook comment #}
<tr><td>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr><td class="title1">&nbsp;&nbsp;{{ logbook.comment }}
    {% if page_n_of_N %}
        , {{ page_n_of_N }}
    {% endif %}
    &nbsp;</td>
    {% if request.user.is_authenticated %}
      <td class="title2">{% translate "Logged in as" %} "{{ request.user.username }}"&nbsp;
        &nbsp;&nbsp;<a href="{% url 'flexelog:do_logout' %}">{% translate "Logout" %}</a>
        {% if request.user.is_staff %}
          &nbsp;&nbsp;<a href="{% url 'admin:index' %}">{% translate "Admin" %}</a>
        {% endif %}
      </td>


    {% endif %}
  </tr>
</table>
</td></tr>
