{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}

<!DOCTYPE html>
<html>
<head>
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
        <title>{% block title %}FlexElog{% endblock %}</title>     
    </meta>
    <link rel="stylesheet" type="text/css" href="{% static 'flexelog/elog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'flexelog/flexelog.css' %}">
    <link rel="shortcut icon" href="{% static 'flexelog/favicon.ico' %}">
    <link rel="icon" href="{% static 'flexelog/favicon.png' %}" type="image/png">
    {% if cfg_css %}
        {% with 'flexelog/'|add:cfg_css as static_link %}
        <link rel="stylesheet" type="text/css" href="{% static static_link %}">
        {% endwith %}
    {% endif %}
    {% block more_head_links %}{% endblock %}
</head>

<body onload="body_onload()">
  {% block body %}{% endblock %}
</body>
</html>