{% extends "flexelog/base.html" %}
{% load i18n %}
{% load static %}
{% load flex %}

{% block body %}

<form name="form1" method="GET" action=".">
  {% csrf_token %}
  <table class="frame" cellpadding="0" cellspacing="0">
  {% include "flexelog/include/lb_tabs.html" %}
  {% include "flexelog/include/commands.html" %}

  {% if filters %}
    <tr><td class="listframe">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
    {% for name, val in filters.items %}
      <tr>
        <td nowrap width="10%" class="attribname">{{ name }}:</td>
        <td class="attribvalue">{{ val|highlight:val }}</span></td>
      </tr>
    {% endfor %}
    </table></td></tr>
  {% endif %}

  {% include "flexelog/include/list_modes.html" %}
  {% if page_obj.has_other_pages %}
    <tr>
      <td class="menuframe"><span class="menu3">
          {% include "flexelog/include/pagination.html" %}
        </span></td>
    </tr>
  {% endif %}
  <tr>
    <td>
      <table class="listframe" width="100%" cellspacing=0>
        {# COLUMN HEADERS ------------ #}
        <tr>
          {% for col_name, col_field in columns.items %}
          {# XX need urlencoded version of col_name for url #}
          {% if col_field == "text" %}
            <th class="listtitle2">{{ col_name }}</th>
          {% else %}
            <th class="listtitle">  
            {% if col_field == sort_attr_field %}
              {% if is_rsort %}
                 <a href="{% querystring sort=col_name rsort=None %}">{{ col_name }}&nbsp;↓</a>
              {% else %}
                <a href="{% querystring rsort=col_name sort=None %}">{{ col_name }}&nbsp;↑</a>
              {% endif %}
            {% else %}
              <a href="{% querystring sort=col_name rsort=None %}">{{ col_name }}</a>
            {% endif %}
            </th>
          {% endif %}
          {% endfor %}
          {# <th class="listtitle3"><img src="attachment.png" alt="Attachments" title="Attachments" </th> #}
        </tr>

        {# ENTRIES --------------- #}
        {% for entry in page_obj %}
        <div style="display: none;">{% cycle 'list2' 'list1' as listX %}</div>{# XXX kludge #}
        <tr>
          {% for key, val in entry.items %}
          <td class="{% if key == 'text' %}summary{% else %}{{ listX }}{% if entry.id == selected_id %}h{% endif %}{% endif %}"{% if key == "date" %} nowrap{% endif %}>
            {% if not key == "text" %}<a href="{% url 'flexelog:entry_detail' logbook.name entry.id %}">{% endif %}
            {% if key == "id" %}&nbsp;&nbsp;{% endif %}
            {% with filter_attrs|get_item:key as search_text %}
              {{ val|attr_show|highlight:search_text }}
            {% endwith %}
            {% if key == "id" %}&nbsp;&nbsp;{% endif %}
            {% if not key == "text" %}</a>{% endif %}
          </td>
          {% endfor %}
        </tr>
        {% empty %}
            </table><tr><td class="errormsg">{% translate 'No entries found' %}</td></tr>
        {% endfor %}
    {% if page_obj %}</table>{% endif %}
  {% if page_obj.has_other_pages %}
    <tr>
      <td class="menuframe"><span class="menu3">
          {% include "flexelog/include/pagination.html" %}
        </span></td>
    </tr>
  {% endif %}
  </table>
</form>
{% endblock body %}