{% extends "flexelog/base.html" %}
{% load flex %}
{% load i18n %}
{% load attachments_tags %}

{% block title %}Fl'og {{ entry.attrs.subject }}{% endblock title %}
{% block more_head_links %}
 {{ form.media }}
{% endblock more_head_links %}

{% block body %}
<form name="form1" method="GET" action="{% url 'flexelog:entry_detail' logbook.name entry.id %}">
  {% csrf_token %}
  {# <input type="hidden" name="page_type" value="{{ page_type }}" /> #}
  <table class="frame" cellpadding="0" cellspacing="0">
  {% include "flexelog/include/lb_tabs.html" %}
  {% include "flexelog/include/commands.html" %}
  <table class="listframe" width="100%" cellspacing="0" cellpadding="0">
    <tr>
    <td class="attribhead">Message ID:&nbsp;<b>{{ entry.id }}</b>
        &nbsp;&nbsp;&nbsp;&nbsp;Entry time:&nbsp;<b>{{ entry.date }}</b>
        {% if entry.author %}&nbsp;&nbsp;{% translate 'Username' %}:&nbsp;<b>{{ entry.author.get_username }}</b>{% endif %}
    </td>
    </tr>
    </td></tr>
    {% if entry.last_modified_date %}
    <tr><td class="attribhead">{% translate 'Last submission' %}:&nbsp;{% translate 'Entry time' %}:&nbsp;<b>{{ entry.last_modified_date }}</b>
    {% if entry.last_modified_author %}&nbsp;&nbsp;{% translate 'Username' %}:&nbsp;<b>{{ entry.last_modified_author.get_username }}</b>{% endif %}
    {% endif %}</td></tr>

    <tr>
    <td>
    <table width="100%" cellpadding="0" cellspacing="0">
        {% for attr, val in entry.attrs.items %}
        <tr>
            <td class="attribname" nowrap>{{ attr|capfirst }}:</td>
            <td class="attribvalue">{% if attr in IOptions %}{{ val|icon_show}}{% else %}{{ val|attr_show }}{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    </td>
    </tr>

    {# EDITOR/VIEWER #}
    <tr>
    <td class="messageframe">

        {{ form.text }}
    </td>
    </tr>
    {% get_attachments_for entry as attachments_list %}
    {% if attachments_list %}
    
    {% for attachment in attachments_list %}
    <tr>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
            <td nowrap width="10%" class="attribname">{% translate "Attachment" %} {{ forloop.counter }}:</td>
            <td class="attribvalue"><a href="{{ attachment.attachment_file.url }}">{{ attachment.filename }}</a>
                &nbsp;<span class="bytes">{{ attachment.attachment_file.size|filesizeformat }}</span></td>
        </tr>
    </table>
        <tr><td width="100%">
            <table width="100%" cellpadding="0" cellspacing="0">
            <tr><td><iframe id="frame" src="{{ attachment.attachment_file.url }}" scrolling="yes"></iframe></td></tr>
        </table></td></tr>
    </table>
    {% endfor %}
    
    {% endif %}
  </table>
</table>
</form>

{% endblock body %}