{% extends "flexelog/base.html" %}
{% load i18n %}
{% load static %}
{% load flex %}

{% block body %}

<form name="form1" method="GET" action=".">

<table class="frame" cellpadding="0" cellspacing="0">
  {% include "flexelog/include/lb_tabs.html" %}
  {% include "flexelog/include/commands.html" %}
  {% include "flexelog/include/filter_attrs.html"%}
  {% include "flexelog/include/list_modes.html" %}
  {% include "flexelog/include/pagination.html" %}

  <tr><td>
  <table class="listframe" width="100%" cellspacing=0>
    {% include "flexelog/include/list_display_header.html"%}
    {% for entry in page_obj %}
      {% cycle '2' '1' as listX silent %}
      <tr>{% entry_summary entry columns selected_id filter_attrs listX %}</tr>
    {% empty %}
      </table><tr><td class="errormsg">{% translate 'No entries found' %}</td></tr>
    {% endfor %}
    {% if page_obj %}</table>{% endif %}
    {% include "flexelog/include/pagination.html" %}
  </table>
  </td></tr>
</table>
</form>
{% endblock body %}