{% extends "flexelog/base.html" %}
{% load flex %}
{% load i18n %}

{% block title %}Fl'og {{ entry.attrs.subject }}{% endblock title %}
{% block more_head_links %}
 {{ form.media }}
{% endblock more_head_links %}

{% block body %}
<form name="form1" method="GET" action="{% url 'flexelog:entry_detail' logbook.name entry.id %}">
{# <input type="hidden" name="page_type" value="{{ page_type }}" /> #}
<table class="frame" cellpadding="0" cellspacing="0">
  {% include "flexelog/include/lb_tabs.html" %}
  {% include "flexelog/include/commands.html" %}
  <tr><td>
  <table class="listframe" width="100%" cellspacing="0" cellpadding="0">
    {% if entry.replies.count or entry.in_reply_to %}
      <tr><td>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            {% thread_tree entry %}
        </table>
      </td></tr>
      
    {% endif %}
    <tr><td class="attribhead">Message ID:&nbsp;<b>{{ entry.id }}</b>
        &nbsp;&nbsp;&nbsp;&nbsp;Entry time:&nbsp;<b>{{ entry.date }}</b>
        {% if entry.author %}&nbsp;&nbsp;{% translate 'Username' %}:&nbsp;<b>{{ entry.author.get_username }}</b>{% endif %}
        {% if entry.in_reply_to %}
        &nbsp;&nbsp;&nbsp;&nbsp;{% translate 'In reply to' %}:&nbsp;<b><a href="{% url 'flexelog:entry_detail' logbook.name entry.in_reply_to.id %}">{{ entry.in_reply_to.id }}</a></b>
        {% endif %}
        {% if entry.replies.count %}&nbsp;&nbsp;&nbsp;&nbsp;{% translate 'Reply to this' %}:{{ entry|list_replies }}{% endif %}
    </td></tr>
    </td></tr>
    {% if entry.last_modified_date %}
        <tr><td class="attribhead">{% translate 'Last submission' %}:&nbsp;{% translate 'Entry time' %}:&nbsp;<b>{{ entry.last_modified_date }}</b>
        {% if entry.last_modified_author %}&nbsp;&nbsp;{% translate 'Username' %}:&nbsp;<b>{{ entry.last_modified_author.get_username }}</b>{% endif %}
        </td></tr>
    {% endif %}
    <tr>
    <td>
    <table width="100%" cellpadding="0" cellspacing="0">
        {% for attr, val in entry.attrs.items %}
        <tr>
            <td class="attribname" nowrap>{{ attr|capfirst }}:</td>
            <td class="attribvalue">{% if attr in IOptions %}{{ val|icon_show}}{% else %}{{ val|attr_show }}{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    </td>
    </tr>

    {# EDITOR/VIEWER #}
    {% if encoding and encoding != "markdown" %}
      <tr><td class="encoding">{% translate "Encoding" %}: {{ encoding }}</td></tr>
    {% endif %}
    <tr>
    <td class="messageframe">

        {{ form.text }}
    </td>
    </tr>
    
  </table>

   {% include "flexelog/include/attachments.html" %}

</form>

{% endblock body %}