{% extends "flexelog/base.html" %}
{% load l10n %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load tz %}

{% block title %}FlexElog Logbook Selection{% endblock %}

{% block more_head_links %}

{% endblock %}

{% block body %}
<table class="selframe" cellspacing="0" align="center">
    <tr>
        <td colspan="13" class="dlgtitle">
            {% translate "Several logbooks are defined on this host" %}<br>
            {% translate "Please select the one to connect to" %}
        </td>
    </tr>
    <tr>
        <th colspan="10" class="seltitle">{% translate "Logbook" %}</th>
        <th class="seltitle">{% translate "Entries" %}</th>
        <th class="seltitle">{% translate "Last submission" %}</th>
    </tr>
    {% for group_name, logbooks in group_logbooks.items %}
        {% if group_logbooks|length > 1 %}
            <tr><td colspan=13 class="selgroup">
                {% if group_name %}{{ group_name }}{% else %}---{% endif %}
            </td></tr>
        {% endif %}
        {% for lb in logbooks %}
            <tr>
                <td colspan="10" class="sellogbook">
                    <a href="{% url 'flexelog:logbook' lb.name %}">{{ lb.name }}</a><br>
                    <span class="selcomment"></span>
                </td>
                <td nowrap class="selentries">{{ lb.entries.count }}</td>
                <td nowrap class="selentries" title="{{ lb.latest_date|localtime }}">{{ lb.latest_date|naturaltime }}</td>
            </tr>
        {% empty %}
            <tr><td>{% translate "No logbook defined on this server" %}</td></tr>
            <tr><td>&nbsp;&nbsp;<a href="{% url 'admin:index' %}">{% translate "Admin" %}</a></tr></td>
        {% endfor %}
    {% empty %}
    <tr><td>{% translate "No logbook defined on this server" %}</td></tr>
    <tr><td>&nbsp;&nbsp;<a href="{% url 'admin:index' %}"><span class="highlight">{% translate "Admin" %}</span></a></tr></td>

    {% endfor %}
    </table>
{% endblock body %}