{% include "django/forms/widgets/textarea.html" %}
{% with 'editor-'|add:widget.attrs.id as editorid %}

<div><div id="{{ editorid }}"></div></div>


<script language="javascript" type="text/javascript">
    function latexPlugin() {
        const toHTMLRenderers = {
            latex(node) {
                const html = katex.renderToString(node.literal);

                return [
                    { type: 'openTag', tagName: 'div', outerNewLine: true },
                    { type: 'html', content: html },
                    { type: 'closeTag', tagName: 'div', outerNewLine: true }
                ];
            }
        }
        return { toHTMLRenderers };
    }

    const { Editor } = toastui;
    const { chart, codeSyntaxHighlight, colorSyntax, tableMergedCell } = Editor.plugin;

    document.addEventListener('DOMContentLoaded', function () {
        // Initialize the ToastUI Editor

        const editor = new Editor({
            el: document.querySelector('#{{ editorid }}'),
            previewStyle: 'vertical',
            height: '500px',
            initialValue: '',
            usageStatistics: false,
            mathSupport: true,
            placeHolder: '',
            autofocus: false,
            plugins: [[chart, {maxWidth:750, maxHeight:500}], [codeSyntaxHighlight, {highlighter: Prism}], colorSyntax, tableMergedCell, latexPlugin],
        });

        var text = document.getElementById("{{ widget.attrs.id }}").value;
        editor.setMarkdown(text);
        return true;
    })

</script>
{% endwith %}
