{% extends "flexelog/base.html" %}
{% load i18n %}
{% block title %}{% translate "FlexElog Login" %}{% endblock %}
{% block body %}

<form action="." method="post">
    {% csrf_token %}
    <table class="login_frame" cellspacing=0 align=center>
        <tr><td class="login_title">{% translate "Please login" %}</td></tr>
        {% for field in form %}
        <tr><td class="login_form">
            <span class="overlay_wrapper">
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ fiekd.label_tag }} {{ field }}
            </div>
            </span>
        </td></tr>
        {% endfor %}

        <tr><td align=center class="login_form_bottom"><input type="submit" class="login_submit" value="{% translate 'Submit' %}">
        </td></tr>
    </table>
</form>

{% endblock body %}